# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/

# Python-related files
__pycache__/
*.py[cod]
env/
env_include/

# Build output
dist/
dist-ssr/
*.local

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore system files
Thumbs.db

# Ignore unnecessary files
src/  # Source folder is likely unnecessary for backend
public/  # Public folder is likely frontend-related
.eslint.config.js
package-lock.json
package.json
vite.config.js
index.html

# Allow these essential files
!requirements.txt
!runtime.txt
!Procfile
!fast.py
!air_quality.pkl
!scaler.pkl

